html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
}

.first-line {
    display: flex;
}

.main-block {
    display: flex;
    flex-direction: row-reverse;
}

.right-column {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.second-row {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
}

.second-row article {
    width: calc(50% - 40px);
}

.radio-container {
    display: flex;
    gap: 10px;
    /*отступ между элементом*/
}